@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
 
 
<div class="overview-container">
    <div class="overview-row overview-row-login">
        <div class="column-left panel-left">
            <section>
                <div>
                    Please check your email to reset your password.
                </div>
                <a href="/Identity/Account/Login" class="w-100 btn btn-lg btn-primary" style="margin-top:10px;">
                    Return to Login
                </a>
            </section>
        </div>

        <div class="column-left panel-left"> 
        </div>
    </div>


</div>

<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/expense-overview.css" asp-append-version="true" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 